* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  height: 1px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0e1010;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  padding: 20px;
  border-bottom: 1px solid #272d2b;
}
.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header nav a:link,
.header nav a:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* Main */
.main {
  flex-grow: 1;
}

.main .container {
  padding: 40px 20px;
}

/* Section */
.section {
  margin-bottom: 70px;
}
.section .section__heading {
  width: 200px;
  margin-right: 40px;
  flex-shrink: 0;
}
.section .section__info {
  flex-grow: 1;
}

/* Footer */
.footer {
  margin-top: auto;
}

/* About */
.about {
  display: flex;
  align-items: center;
}
.about h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.about span.block {
  display: block;
}
.about span.bold {
  font-weight: 700;
}
.about__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
}
.about__links li {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.about .about__info {
  flex-grow: 1;
}
.about__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.about__image img {
  width: 100%;
}
